{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')
    </style>
    <link rel="stylesheet" href="{% static 'main.css' %}"> {% comment "trae los estilos de css de la carpeta static" %}{% endcomment %}
    <title>Inicio</title>
</head>
<body>
    
    <header>
    {% include "Layouts/Partials/menu.html" %} 
    </header>

{% block header %}{% endblock header %}

{% comment "incluye el html de inicio que esta en layouts dentro de partials" %}{% endcomment %}
{% include "Layouts/Partials/inicio.html" %}
{% comment "incluye el html de footer que esta en layouts dentro de partials" %}{% endcomment %}
{% include "Layouts/Partials/footer.html" %}


</body>
</html>