{% load static %}

<body>
    <section class="container">
        
            <div class="texto-columna">
                <h2 class="titulo">Tambien conocidas como</h2>
                <div class="texto-columna-left">
                    <p>
                        culebras o víboras son reptiles alargados, de cuerpo cilíndrico y escamoso
                        muy reconocidos al no tener extremidades, se encuentran tanto en ecosistemas acuáticos como terrestres y se 
                        conocen más de 3.500 especies, son carnívoras y depende su especie pueden capturar a su presa enrollandola en su 
                        cuerpo, asfixiandolas así con su fuerza corporal o pueden morderlas e inyectarles su veneno el cual actua paralizando 
                        o matando a la presa su dieta depende de su especie y habitat.
                    </p>
                    <figure>
                         <img class="foto" src="{% static "assets/serpiente1.jpeg" %}">
                    </figure>
                </div> 
            </div> 

       
            <div class="texto-columna"> 
                <h2 class="titulo">Caracteristicas</h2>
                <div class="texto-columan-rigth">
                    <p>
                        La mayoria de serpientes son ovíparas, es decir que su reproduccion es sexual, la hembra pone un número considerable 
                        de huevos que custodia brutalmente, otras especies son ovovivíparas lo que significa que el huevo se forma dentro de la hembra
                        para posteriormente eclosionar, su longevidad es muy variada dependiendo de la especie, pueden vivir de a 10 a 30 años y su esperanza
                        de vida toma en cuenta varios factores como su tamaño.
                    </p>
    
                    <figure>
                        <img class="foto2" src="{% static "assets/serpiente2.jpeg" %}">
               </figure> 
                </div>
               
        </div>
    
     
    </section>
   
</body>