{% load static %}


<div class="content div_navegacion">
    <div  class="menu">
        <nav>
            <ul class="lista">
                <li class="item">
                    <a href="{% url "Importancia" %}" class="link">Importancia</a> {% comment "redirecciona a el html importancia" %}{% endcomment %}
                </li>
                <li class="item">
                    <a href="{% url "Historia" %}" class="link">Historia</a> {% comment "redirecciona a el html historia" %}{% endcomment %}
                </li>
                <li class="item">
                    <a href="{% url "Lista_serpientes" %}" class="link">Ubicacion</a> {% comment "redirecciona a el html lista importancia" %}{% endcomment %}
                </li>
                <li class="item">
                    <a href="{% url "Formulario" %}" class="link">Unirse</a> {% comment "redirecciona a el html formulario" %}{% endcomment %}
                </li>
            </ul>
        </nav>
    </div>
</div>