{% load static %}


<div class="content div_navegacion">
    <div  class="menu">
        <nav>
            <ul class="lista">
                <li class="item">
                    <a href="{% url "Importancia" %}" class="link">Importancia</a>
                </li>
                <li class="item">
                    <a href="{% url "Historia" %}" class="link">Historia</a>
                </li>
                <li class="item">
                    <a href="{% url "Lista_serpientes" %}" class="link">Ubicacion</a>
                </li>
                <li class="item">
                    <a href="{% url "Formulario" %}" class="link">Unirse</a>
                </li>
            </ul>
        </nav>
    </div>
</div>