{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Formulario</title>
</head>

<body>

    <header>
        {% include "Layouts/Partials/menu.html" %}
    </header>

    <div class="contenedor_unirse">
        <h1 class="subtitulo form_titulo">¡Unete a nuestra comunidad!</h1>
        <p>
            Esperamos que nuestra pagina sea de tu agrado, si gustas puedes dejarnos tus datos para
            incluirte en nuestra pequeña pero acojedora comunidad, donde podras expandir tus conocimientos
            y encontrar más personas con las cuales podras conectar gracias a este peculiar y hermoso animal.
        </p>
    </div>
  
    <section class="contenedor">
        <div class="fondo">
            <h2 class="subtitulo titulo_datos">Por favor ingresa tus datos</h2>
        </div>
        <form method="POST" class="formulario">
            {% csrf_token %}
            {{formulario}}
            <div>
                <button class="botoncito" type="submit">Registrar</button>
            </div>
        </form>
    </section>


</body>

</html>