


{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'main.css'%}">
    <title>Historia</title>
</head>
<body>
    <header>
        {% include "Layouts/Partials/menu.html" %}
    </header>
    <main>
        <h1 class="subtitulo">Contexto Religioso y Cultural</h1>
        <h2 class="subtitulo">Animal maldito</h2>
        <p>
            Culpable de la expulsion de Adán y Eva del paraiso ha sido considerado por los primeros cristianos como
            la viva imagen del demonio, aparece en el pasaje del antiguo testamente donde explican que fue enviada como
            castigo contra el pueblo de Yahvé por haber dudado de el, se eligió a la serpiente como figura inteligente y maligna
            enemiga del hombre y Dios.
        </p>
        <figure>
            <img src="{% static "assets/adanyeva.jpg" %}" >
        </figure>
        <h2 class="subtitulo">Un dios de la creación:</h2>
        <p>Sin embargo, para los mayas la serpiente tiene otro gran significado, Kukulcán,
            dios creador, de la lluvia, el viento, las tormentas y la vida, se convirtío en simbolo de la vida por debajo y encima de la tierra
            se consideraba que era una conexion entre los dioses y la humanidad, es el principal dios de la cultura maya, mitología que aun vive entre los 
            pueblos de Yucatán gracias a las tradiciones orales y la identidad cultural, Kukulcán es uno de los dioses creadores y dadores de sabiduria e inteligencia
            a la humanidad, en la actualidad se sospecha pero no es confirmado que su verdadero origen puede ser olmeca o tolteca, se dice que ayudaba al dios Chaac volando
            delante suyo para limpiar con su cola las nubes y caminos en el cielo, al ser una serpiente se desplaza agilmente por agua y tierra, sus plumas son las que le permiten volar.
        </p>
        <figure>
            <img src="{% static "assets/kukulcan.jpg" %}" >
        </figure>
        <h2 class="subtitulo">Simbolo de buena o mala fortuna:</h2>
        <p>
        Para la cultura china, es una moneda de dos caras: por un lado es un animal sabio, positivo, intuitivo y portador de buenos augurios, las personas nacidas bajo su influencia son 
        consideras nobles, inteligentes y comprensivas y por el otro tambien son sensuales, vanidosas, orgullosas y supersticiosas, considerada popularmente como "el dragon pequeño" posee unos rasgos fisicos similares y tambien comparte poderes
        con el dragón, se cree que puede atraer la lluvia o provocar una sequia, en el año de la serpiente nacen hombre con gran inteligencia y mujeres hermosas sobre todo si su nacimiento se dio en primavera
        o verano mientras si nacen en las otras estaciones serán personas menos despiertas y cautivadoras.
        </p>
        <figure>
            <img src="{% static "assets/serpientechina.jpg" %}" >
        </figure>
    </main>
</body>
</html>