{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Historia</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url "index" %}">
                <img src="{% static "assets/houses.png" %}" alt="logo" class="loguito">
            </a>
        </div>
        {% include "Layouts/Partials/menu.html" %}
    </header>
    <main>
        <h1 class="subtitulo proposito">Presente desde hace millones de años</h1>
        <p class="parrafo_historia">
            Su existencia, según investigadores data de poco más de 128 millones de años en los ecosistemas forestales del antiguo
            surcontinente de Laurasia (dividido posteriormente en Eurasia y América del norte), no solo han logrado su supervivencia por años
            sino que tambien han logrado una gran diversidad.
            Su diversidad no solo respecto a la especie, su significado tambien puede cambiar depende del contexto, ya sea cultural o religioso,
            a continuacion podras ver sus diferentes formas y significados a lo largo de años y desde diferentes culturas.
        </p>

        <div class="container_proposito">
            <h2 class="subtitulo">Animal maldito:</h2>
        <p>
            Segun la Biblia representa a Satanás el cual es el responsable de ofrecer al pecado a Adán y Eva,
            siendo asi culpable de la expulsion de estos del paraiso, ha sido considerado por los primeros cristianos como
            la viva imagen del demonio, aparece en el pasaje del antiguo testamente donde explican que fue enviada como
            castigo contra el pueblo de Yahvé por haber dudado de el, se eligió a la serpiente como figura inteligente y maligna
            enemiga del hombre y Dios, la Virgen Maria tambien ha sido representada como la inmaculada concepcion pisando una serpiente
            dando el mensaje de madre protectora que lucha contra el mal, repitiendo el mismo patron cuando Jesucristo pelea con una serpiente
            representando asi la dualidad entre lo justo y la maldad, Dios tambien convirtió su bastón en serpiente cuando contactó a Moisés para
            liberar al pueblo hebreo demostrando con esto su furia contra el pueblo egipcio, tambien en Génesis la serpiente aparece de manera demoniaca
            al simbolizar la conciencia del hombre al romper con su estado ignorante y hacerse inmortal volviendose un igual a los propios dioses.
        </p>
        <div class="div">
            <figure class="imagen-container">
                <img class="imagen_1" src="{% static "assets/adanyeva.jpg" %}" >
                <img class="imagen_1" src="{% static "assets/inmaculadaconcepcion.webp" %}" >
                <img class="imagen_3" src="{% static "assets/moisesserpiente.jpg" %}" >
                <img class="imagen_4" src="{% static "assets/moisesserpiente2.jpg" %}" >
            </figure>
        </div>
      

        <h2 class="subtitulo">Un dios de la creación:</h2>
        <p>Para los mayas la serpiente tiene otro gran significado, Kukulcán,
            dios creador, de la lluvia, el viento, las tormentas y la vida, se convirtío en simbolo de la vida por debajo y encima de la tierra
            se consideraba que era una conexion entre los dioses y la humanidad, es el principal dios de la cultura maya, mitología que aun vive entre los 
            pueblos de Yucatán gracias a las tradiciones orales y la identidad cultural, Kukulcán es uno de los dioses creadores y dadores de sabiduria e inteligencia
            a la humanidad, en la actualidad se sospecha pero no es confirmado que su verdadero origen puede ser olmeca o tolteca, se dice que ayudaba al dios Chaac volando
            delante suyo para limpiar con su cola las nubes y caminos en el cielo, al ser una serpiente se desplaza agilmente por agua y tierra, sus plumas son las que le permiten volar,
            su nombre significa "Serpiente Emplumada" y en ocasiones, tambien se le representaba como un hombre barbado con atributos de serpiente y plumas, fue adorado de diferentes formas
            a lo largo de Mesoamérica siendo prominente en la ciudad maya Chichén Itza lugar donde se levantó una piramide conocida como El Castillo la cual incluia elementos arquitectonicos
            relacionado con los equinoccios (momentos anuales que al hallarse el sol en el ecuador hace que la duracion del dia y la noche sea la misma en toda la tierra), su influencia persistío aun
            después de la llegada de los españoles.
        </p>
        <div class="div">
            <figure class="imagen-container">
                <img class="imagen__1" src="{% static "assets/kukulcan.jpg" %}" >
                <img class="imagen__2" src="{% static "assets/kukulcan33.webp" %}" >
                <img class="imagen__3" src="{% static "assets/kukulcanlaserpienteemplumada.jpg" %}" >
                <img class="imagen__4" src="{% static "assets/KUKULCAN02.webp" %}" >
            </figure> 
        </div>

        <h2 class="subtitulo">Simbolo de buena o mala fortuna:</h2>
        <p>
        Para la cultura china, es una moneda de dos caras: por un lado es un animal sabio, positivo, intuitivo y portador de buenos augurios, las personas nacidas bajo su influencia son 
        consideras nobles, inteligentes y comprensivas y por el otro tambien son sensuales, vanidosas, orgullosas y supersticiosas, considerada popularmente como "el dragon pequeño" posee unos rasgos fisicos similares y tambien comparte poderes
        con el dragón, se cree que puede atraer la lluvia o provocar una sequia, en el año de la serpiente nacen hombre con gran inteligencia y mujeres hermosas sobre todo si su nacimiento se dio en primavera
        o verano mientras si nacen en las otras estaciones serán personas menos despiertas y cautivadoras, se considera que es una animal que ha alcanzado una vida prolongada lo que la convierte en simbolo de longevidad y persistencia, se cree
        tambien que gozan de sabidura intrínseca (término utilizado frecuentemente en filosofía para designar lo que corresponde a un objeto por razón de su naturaleza y no por su relación con otro) y un conocimiento de los ciclos naturales, a menudo tambien
        se asocia con la transformacion y el renacimiento, su capacidad de muda de piel es interpretada como simbolo de renacimiento y renovación espiritual esto haciendo alusion a que como mudan de piel cada cierto tiempo dejan atras su antigua capa teniendo
        ahora una nueva piel que simboliza dejar atras lo viejo para dar paso a lo nuevo y autorenovarse.
        </p>
        <div class="div">
            <figure class="imagen-container">
                <img class="imagens1" src="{% static "assets/serpientechina.jpg" %}" >
                <img class="imagens2" src="{% static "assets/serpienteconmoneda.jpg" %}" >
                <img class="imagens2" src="{% static "assets/serpiente33.avif" %}" >
                <img class="imagens2" src="{% static "assets/horoscopochinoserpiente.jpg" %}" >
            </figure>
        </div>

        <h2 class="subtitulo">Simbolo poderoso y multifacético:</h2>
        <p>
            Las serpientes, especialmente las cobras, eran vistas como guardianas y protectoras del antiguo Egipto, la imagen conocida como Uraeus (una cobra real), se usaba en la iconografía egipcia como simbolo de proteccion para los faraones y gobernantes,
            se creia que su presencia en la corona del faraón otorgaba poder, autoridad y proteccion contra el caos y el mal, tambien estaba asociada con la idea del renacimiento y regeneracion, su muda de piel simbolizaba el ciclo eterno de la vida, muerte y renacimiento,
            este ciclo se vinculaba a las creencias sobre la vida despues de la muerte y la resureccion en el mas allá, ademas de su relacion con el renacimiento, tambien era vista como simbolo de fertilidad y renovación, en el antiguo Egipto se creía que tenia una conexión con la tierra
            y los ciclos naturales de crecimiento y renovacion, la fertilidad de la tierra y la renovacion de la naturaleza estaba vinculada a la presencia y movimiento de la serpiente, en algunas obras artisticas y religiosas las serpientes eran vistas como criaturas divinas o como intermediarias de los dioses
            con los humanos, se creia que poseian una conexión especial con los dioses, que podian comunicar mensajes o influenciar en los eventos terrenales en nombre de las deidades, en la cosmología estaba asociada con el cosmos y los poderes cósmicos, se creia que representaban las fuerzas primordiales que
            estaban presentes en la creación y funcionamiento del universo, su movimiento y capacidad para deslizarse entre los reinos terrenales y divinos que simbolizaban la conexion entre el mundo fisico y el mundo espiritual.
        </p>
        <div class="div">
            <figure class="imagen-container">
                <img class="imagens2" src="{% static "assets/euraeus1.jpg" %}" >
                <img class="imagene2" src="{% static "assets/euraeus2.webp" %}" >
                <img class="imagene3" src="{% static "assets/euraeus3.jpg" %}" >
                <img class="imagene4" src="{% static "assets/euraeus4.jpg" %}" >
            </figure>
        </div>
    </main>

</body>
</html>