{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Historia</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url "index" %}"> {% comment "permite que el logo proporcionado redireccione al inicio de la pagina" %}{% endcomment %}
                <img src="{% static "assets/houses.png" %}" alt="logo" class="loguito">
            </a>
        </div>
        {% include "Layouts/Partials/menu.html" %} {% comment "este include permite traer desde otras carpetas el menu de la pagina" %}{% endcomment %}
    </header>
    <main>
        <h1 class="subtitulo proposito">Presente desde hace millones de años</h1>
        <p class="parrafo_historia">
            Su existencia, según investigadores, data de poco más de 128 millones de años en los ecosistemas forestales del antiguo surcontinente de Laurasia 
            (dividido posteriormente en Eurasia y América del Norte). No solo han logrado su supervivencia por años, sino que también han alcanzado una gran diversidad. 
            Su diversidad no solo se refiere a la especie, su significado también puede cambiar dependiendo del contexto, ya sea cultural o religioso. A continuación, 
            podrás ver sus diferentes formas y significados a lo largo de los años y desde diferentes culturas.
        </p>

        <div class="container_proposito">
            <h2 class="subtitulo">Animal maldito:</h2>
        <p>
            Según la Biblia, representa a Satanás, el cual es el responsable de ofrecer el pecado a Adán y Eva, siendo así culpable de la expulsión de estos del paraíso. 
            Ha sido considerado por los primeros cristianos como la viva imagen del demonio. Aparece en el pasaje del Antiguo Testamento donde explican que fue enviada como 
            castigo contra el pueblo de Yahvé por haber dudado de él. Se eligió a la serpiente como figura inteligente y maligna, enemiga del hombre y Dios. La Virgen María 
            también ha sido representada como la Inmaculada Concepción, pisando una serpiente, dando el mensaje de madre protectora que lucha contra el mal. Repitiendo el 
            mismo patrón, Jesucristo pelea con una serpiente, representando así la dualidad entre lo justo y la maldad. Dios también convirtió su bastón en serpiente cuando 
            contactó a Moisés para liberar al pueblo hebreo, demostrando con esto su furia contra el pueblo egipcio. También en Génesis, la serpiente aparece de manera demoníaca 
            al simbolizar la conciencia del hombre al romper con su estado ignorante y hacerse inmortal, volviéndose un igual a los propios dioses
        </p>
        <div class="div">
            <figure class="imagen-container">
                <img class="imagen_1" src="{% static "assets/adanyeva.jpg" %}" > {% comment "de esta manera llamamos a las imagenes que estan almacenadas en static" %}{% endcomment %}
                <img class="imagen_1" src="{% static "assets/inmaculadaconcepcion.webp" %}" >
                <img class="imagen_3" src="{% static "assets/moisesserpiente.jpg" %}" >
                <img class="imagen_4" src="{% static "assets/moisesserpiente2.jpg" %}" >
            </figure>
        </div>
      

        <h2 class="subtitulo">Un dios de la creación:</h2>
        <p>
            Para los mayas, la serpiente tiene otro gran significado: Kukulcán, dios creador de la lluvia, el viento, las tormentas y la vida. Se convirtió en símbolo de la vida 
            por debajo y encima de la tierra. Se consideraba que era una conexión entre los dioses y la humanidad. Es el principal dios de la cultura maya, mitología que aún vive 
            entre los pueblos de Yucatán gracias a las tradiciones orales y la identidad cultural. Kukulcán es uno de los dioses creadores y dadores de sabiduría e inteligencia a 
            la humanidad. En la actualidad, se sospecha pero no se confirma que su verdadero origen pueda ser olmeca o tolteca. Se dice que ayudaba al dios Chaac volando delante suyo 
            para limpiar con su cola las nubes y los caminos en el cielo. Al ser una serpiente, se desplaza ágilmente por agua y tierra. Sus plumas son las que le permiten volar. Su 
            nombre significa "Serpiente Emplumada" y, en ocasiones, también se le representaba como un hombre barbado con atributos de serpiente y plumas. Fue adorado de diferentes formas 
            a lo largo de Mesoamérica, siendo prominente en la ciudad maya de Chichén Itzá, lugar donde se levantó una pirámide conocida como El Castillo, la cual incluía elementos 
            arquitectónicos relacionados con los equinoccios (momentos anuales en que el sol se halla en el ecuador, haciendo que la duración del día y la noche sea la misma en toda la tierra). 
            Su influencia persistió incluso después de la llegada de los españoles.
        </p>
        <div class="div">
            <figure class="imagen-container">
                <img class="imagen__1" src="{% static "assets/kukulcan.jpg" %}" >
                <img class="imagen__2" src="{% static "assets/kukulcan33.webp" %}" >
                <img class="imagen__3" src="{% static "assets/kukulcanlaserpienteemplumada.jpg" %}" >
                <img class="imagen__4" src="{% static "assets/KUKULCAN02.webp" %}" >
            </figure> 
        </div>

        <h2 class="subtitulo">Símbolo de buena o mala fortuna:</h2>
        <p>
            Para la cultura china, la serpiente es una moneda de dos caras: por un lado, es un animal sabio, positivo, intuitivo y portador de buenos augurios. Las personas nacidas bajo 
            su influencia son consideradas nobles, inteligentes y comprensivas. Por otro lado, también son sensuales, vanidosas, orgullosas y supersticiosas. Considerada popularmente como 
            "el dragón pequeño", posee unos rasgos físicos similares y también comparte poderes con el dragón. Se cree que puede atraer la lluvia o provocar una sequía. En el año de la 
            serpiente, nacen hombres con gran inteligencia y mujeres hermosas, sobre todo si su nacimiento se dio en primavera o verano, mientras que si nacen en otras estaciones serán personas
            menos despiertas y cautivadoras. Se considera que es un animal que ha alcanzado una vida prolongada, lo que la convierte en símbolo de longevidad y persistencia. Se cree también 
            que gozan de sabiduría intrínseca y un conocimiento de los ciclos naturales. A menudo también se asocia con la transformación y el renacimiento. Su capacidad de mudar de piel es 
            interpretada como símbolo de renacimiento y renovación espiritual, haciendo alusión a que, al mudar de piel cada cierto tiempo, dejan atrás su antigua capa para tener ahora una 
            nueva piel, que simboliza dejar atrás lo viejo para dar paso a lo nuevo y autorrenovarse.
        </p>
        <div class="div">
            <figure class="imagen-container">
                <img class="imagens1" src="{% static "assets/serpientechina.jpg" %}" >
                <img class="imagens2" src="{% static "assets/serpienteconmoneda.jpg" %}" >
                <img class="imagens2" src="{% static "assets/serpiente33.avif" %}" >
                <img class="imagens2" src="{% static "assets/horoscopochinoserpiente.jpg" %}" >
            </figure>
        </div>

        <h2 class="subtitulo">Símbolo poderoso y multifacético:</h2>
        <p>
            Las serpientes, especialmente las cobras, eran vistas como guardianas y protectoras del antiguo Egipto. La imagen conocida como Uraeus (una cobra real) se usaba en la iconografía 
            egipcia como símbolo de protección para los faraones y gobernantes. Se creía que su presencia en la corona del faraón otorgaba poder, autoridad y protección contra el caos y el mal. 
            También estaba asociada con la idea del renacimiento y la regeneración; su muda de piel simbolizaba el ciclo eterno de la vida, muerte y renacimiento. Este ciclo se vinculaba a las 
            creencias sobre la vida después de la muerte y la resurrección en el más allá. Además de su relación con el renacimiento, también era vista como símbolo de fertilidad y renovación. 
            En el antiguo Egipto, se creía que tenía una conexión con la tierra y los ciclos naturales de crecimiento y renovación. La fertilidad de la tierra y la renovación de la naturaleza 
            estaban vinculadas a la presencia y movimiento de la serpiente. En algunas obras artísticas y religiosas, las serpientes eran vistas como criaturas divinas o como intermediarias de 
            los dioses con los humanos. Se creía que poseían una conexión especial con los dioses, que podían comunicar mensajes o influenciar en los eventos terrenales en nombre de las deidades. 
            En la cosmología, estaba asociada con el cosmos y los poderes cósmicos. Se creía que representaban las fuerzas primordiales que estaban presentes en la creación y el funcionamiento 
            del universo. Su movimiento y capacidad para deslizarse entre los reinos terrenales y divinos simbolizaban la conexión entre el mundo físico y el mundo espiritual.
        </p>
        <div class="div">
            <figure class="imagen-container">
                <img class="imagens2" src="{% static "assets/euraeus1.jpg" %}" >
                <img class="imagene2" src="{% static "assets/euraeus2.webp" %}" >
                <img class="imagene3" src="{% static "assets/euraeus3.jpg" %}" >
                <img class="imagene4" src="{% static "assets/euraeus4.jpg" %}" >
            </figure>
        </div>
    </main>

</body>
</html>