{% include "Layouts/Partials/menu.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Importancia</title>
</head>
<body>
    <h1 class="subtitulo">¿Cual es su verdadero proposito?</h1> 
    <p>Todo animal sobre la faz de la tierra cumple un objetivo de vida, las serpientes no son un excepcion
        a continuación algunos de sus propositos:
    </p>

    <h2 class="subtitulo">Control de poblaciones</h2>
    <p>
        Debido a que su dieta en gran parte esta constituida por insectos, roedores y otro
        tipo de plagas controlan en gran medida la cantidad de estas, ayudando así
        a mantener un equilibrio en el ecosistema al regular la cantidad de presas.
    </p>
    <figure class="" >
        <img class="" src="{% static "assets/serpiente3.jpeg" %}">
       </figure> 

    <h2 class="subtitulo">Alimentacion de depredadores:</h2>
    <p>
        Las serpientes tambien son fuente importante de la alimentacion de otros depredadores 
        incluyendo aves rapaces (como águilas, halcones, milanos o lechuzas), mamíferos carnivoros (como mapaches, zorros, tejónes o jabalís)
        y tambien otros reptiles (como iguanas, varanas o lagartos), es decir forman parte de la cadena alimenticia y contribuyen al 
        equilibrio en el ecosistema.
    </p>
     <figure class="" >
        <img class="" src="{% static "assets/serpiente4.jpeg" %}">
    </figure> 

    <h2 class="subtitulo">Fertilización del suelo:</h2>
    <p>
        Al ser animales depredadores, muchas serpientes contribuyen a mantener el control de poblacion de presas en un nivel bajo,
        evitando asi que las presas se alimenten en exceso de la vegetación que podria causar un desequilibrio en el ecosistema.
    </p>
     <figure class="" >
        <img class="" src="{% static "assets/serpiente5.jpeg" %}">
    </figure> 

    <h2 class="subtitulo">Investigacion cientifica:</h2>
    <p>
        Su veneno ha sido utilizado en la investigacion de medicamentos y tratamientos de muchas enfermedades, las serpientes son 
        necesarias en el objeto de investigacion de muchas campos de la ciencia, como la biologia , la farmacologia y la genetica
    </p>
     <figure class="" >
        <img class="" src="{% static "assets/serpiente6.jpeg" %}">
    </figure> 
</body>

</html>