{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Importancia</title>
</head>

<body>
    <header>
        <div class="logo"> 
            <a href="{% url "index" %}"> {% comment "permite que el logo proporcionado redireccione al inicio de la pagina" %}{% endcomment %}
                <img src="{% static "assets/houses.png" %}" alt="logo" class="loguito">
            </a>
        </div>
        {% include "Layouts/Partials/menu.html" %} {% comment "este include permite traer desde otras carpetas el menu de la pagina" %}{% endcomment %}
    </header>
    <main>
        <div class="container-importancia">
            <h2 class="subtitulo proposito">¿Cuál es su verdadero propósito?</h2>
            <p class="proposito">
                Todo animal sobre la faz de la tierra cumple un objetivo de vida, las
                serpientes no son un excepción. <br>A continuación, algunos de sus propósitos:
            </p>
        </div>

        <div class="container_proposito">
            <h3 class="subtitulo proposito-h2">Control de poblaciones</h3>
            <p class="parrafo">
                Debido a que su dieta en gran parte está constituida por insectos,
                roedores y otro tipo de plagas, controlan en gran medida la cantidad de
                estas, ayudando así a mantener un equilibrio en el ecosistema al regular
                la cantidad de presas, evitando así el crecimiento masivo. Por ejemplo, gracias 
                a su control en la población de roedores, las serpientes evitan que estos animales
                dañen cultivos o propaguen enfermedades, al ser reguladoras de poblaciones también ayudan a preservar
                la diversidad biológica en un ecosistema, desempeñando un papel fundamental en el equilibrio del ecosistema
                contribuyendo a la salud y estabilidad en los hábitats naturales.
            </p>
            <figure class="imagen-container">
                <img class="imagen1" src="{% static "assets/serpiente3.jpeg" %}">
            </figure>

            <h3 class="subtitulo proposito-h2">Alimentación de depredadores:</h3>
            <p class="parrafo">
                Las serpientes también son fuente importante de la alimentación de otros
                depredadores, incluyendo aves rapaces (como águilas, halcones, milanos o
                lechuzas), mamíferos carnívoros (como mapaches, zorros, tejónes o jabalís),
                y también otros reptiles (como iguanas, varanas o lagartos), es decir,
                forman parte de la cadena alimenticia y contribuyen al equilibrio en el
                ecosistema, esta interacción depredador-presa es importante para la dinámica del
                ecosistema; sin depredadores que se alimenten de las serpientes, su poblacion podria incrementar
                causando consecuencias negativas para el ecosistema.
            </p>
            <figure class="imagen-container">
                <img class="imagen1" src="{% static "assets/serpiente4.jpeg" %}">
            </figure>

            <h3 class="subtitulo proposito-h2">Fertilización del suelo:</h3>
            <p class="parrafo">
                Al ser animales depredadores, muchas serpientes contribuyen a mantener el
                control de población de presas en un nivel bajo, evitando así que las
                presas se alimenten en exceso de la vegetación, lo que podria causar un
                desequilibrio en el ecosistema. Al alimentarse de sus presas, las serpientes contribuyen
                al ciclo de nutrientes al descomponer la materia orgánica a través de su material fecal,
                lo que ayuda a enriquecer el suelo con nutrientes para el crecimiento de las plantas.
            </p>
            <figure class="imagen-container">
                <img class="imagen1" src="{% static "assets/serpiente5.jpeg" %}">
            </figure>

            <h3 class="subtitulo proposito-h2">Investigación científica:</h3>
            <p class="parrafo">
                Su veneno ha sido utilizado en la investigación de tratamientos de muchas enfermedades. 
                Los componentes de su veneno han sido estudiados para así poder desarrollar medicamentos y tratamientos para muchas enfermedades
                como el cáncer: Las serpientes son necesarias como objeto de investigación en muchos campos de la ciencia, como la biología, debido a 
                su fisiología, reproducción y adaptación a los diferentes entornos proporcionan información de gran valor.
            </p>
            <figure class="imagen-container">
                <img class="imagen2" src="{% static "assets/serpiente6.jpeg" %}">
            </figure>
        </div>
    </main> 

</body>

</html>