{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Más informacion</title>
</head>
<body>

    <header>
        {% include 'Layouts/Partials/menu.html' %}
    </header>
    
    <main>
        <h1 class="subtitulo info_titulo">Caracteristicas de la especie</h1>
        <div class="info_cuadro">
            <div>
                <p><strong class="subtitulo">Venenosa:</strong> 
                    {% if serpiente.caracteristica.venenosa == 0 %}
                    No
                    {% else %}
                    Sí
                    {% endif %}
                </p>
                <p>
                    <strong class="subtitulo">Patrón de colores:</strong> {{ serpiente.caracteristica.color_patron }}
                </p>
                <p>
                    <strong class="subtitulo">Alimentación:</strong> {{ serpiente.caracteristica.alimentacion }}
                </p>
                <p>
                    <strong class="subtitulo">Imagen de referencia:</strong> <img src="../media/{{serpiente.foto}}" class="info_foto">
                </p>
            </div>
        </div>
    </main>

</body>
</html>