{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'main.css'%}">
    <title>Ubicacion</title>
</head>
<body>
    <header>
        {% include 'Layouts/Partials/menu.html' %}
    </header>
    <main>
        {% block content %}
        <section>
            <div class="contenedor_s">
                <h1 class="subtitulo">Aquí encontraras algunas especies ubicadas en Colombia:</h1>
                <div class="datos_contenedor_s">
                    <figcaption >
                        <ul>
                            {% for s in especie %}
                              <li>
                                <h3>{{s.nombre_cientifico}}</h3>
                                <p>{{s.nombre_comun}}</p>
                                <p>{{s.habitat}}</p>
                                <p>{{s.id}}</p>
                              </li>
                            {% endfor %}
                        </ul>
                    </figcaption>
                </div>
            </div>
        </section>
        {% endblock content %}
    </main>
</body>
</html>
