{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Ubicacion</title>
</head>
<body>
    <header>
        {% include 'Layouts/Partials/menu.html' %}
    </header>
    <main>
        {% block content %}
        <section>
            <div>
                <h1 class="subtitulo ubicacion_titulo">Aquí encontraras algunas especies ubicadas en Colombia:</h1>
                <div>
                    <figcaption >
                        <ul>
                            {% for s in especie %}
                            <li class="contenedor_s">
                                <p>{{s.id}}</p>
                                <h3>{{s.nombre_cientifico}}</h3>
                                <p>{{s.nombre_comun}}</p>
                                <p>{{s.habitat}}</p>
                                <a href="{% url "info_serpiente" s.id %}">Ver más</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </figcaption>
                </div>
            </div>
        </section>
        {% endblock content %}
    </main>
</body>
</html>