:root{
    --color-one: #ade2a6;
    --color-two: #73bd6e;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    transition: 0.5s;
}

header{
    text-align: center;
    background-color: var(--color-one);
    padding: 15px 0;
    margin: 0%;
}

nav a{
    display: inline-block;
    text-decoration: none;
    margin: 0 30px;
    color: #000;
    padding: 0 15px;
    border-radius: 30px
}

nav a:hover{
    background-color: var(--color-two)
}

.encabezado-img{
    background-image: url(assets/escamas.avif);
    height: 200px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado__titulo{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.encabezado__subtitulo{
    font-size: 18px;
    text-align: center;
    color: white;
    top: -20px;
}

.titulo{
    color: #73bd6e;
}

.container{
    display: flex;
}

.texto-columna{
    flex: 1;
    padding: 20px;
}

.texto-columan-left{
    display: flex;
    flex-direction: row;
}

/* .foto{
    float: right;
    width: 50%;
    padding: 0 20px;
} */


body{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

/* .container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    /* max-width: 120px; 

.subtitulo{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
} */

/* FOOTER */

/* footer{
    background-color: rgb(49, 221, 92);
    padding: 1rem 0;
    text-align: center;
    margin-top: auto;  
    left: 0;
    padding: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

/* .social-icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
} */

/* .social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-image: url(assets/logofacebook.png);
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
    margin: 1rem;

} */

/* .social-icon:hover{
    filter: invert(1);
} */

/* .footer-menu-container{
    list-style-type: none;
    color: #000000;
    font-size: 20px;

}

.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover{
    opacity: 1;
} */