:root{
    --color-one: #ade2a6;
    --color-two: #73bd6e;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    transition: 0.5s;
}

/* INICIO */

header{
    text-align: center;
    background-color: var(--color-one);
    padding: 15px 0;
    margin: 0%;
}

nav a{
    display: inline-block;
    text-decoration: none;
    margin: 0 30px;
    color: #000;
    padding: 0 15px;
    border-radius: 30px
}

nav a:hover{
    background-color: var(--color-two)
}

.encabezado-img{
    background-image: url(assets/escamas.avif);
    height: 200px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado__titulo{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.encabezado__subtitulo{
    font-size: 18px;
    text-align: center;
    color: white;
    top: -20px;
}

.titulo{
    color: #73bd6e;
    font-size: 20px;
    margin: 0;
    padding: 10px 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.texto-columna {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
}

.titulo {
    background-color: #82cd8f;
    color: #06420e;
    font-size: 20px;
    margin: 0;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.texto-imagen-container {
    display: flex;
    flex-direction: column;
}

.texto {
    padding: 20px;
    border-bottom: 1px solid #dee2e6;
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.foto {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
}

.foto2{
    max-width: 50%;
}

.titulo-izquierda {
    border-radius: 10px 0 0 0;
}

.titulo-derecha {
    border-radius: 0 10px 0 0;
}


body{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}


/* FOOTER */

footer{
    background-color: var(--color-one);
    padding: 2px ;
    text-align: center;
    position: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.frase{
    font-size: small;
}

.redes-sociales{
    margin-bottom: 10px;
}

.redes-sociales a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    font-size: 20px;
    transition: all 0.3s ease;
}

.social-icon{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-image: url(assets/logofacebook.png);
    background-position: center;
    background-size: 45px;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:hover{
    filter: invert(1);
}

.frase_bajo{
    font-size: smaller;
}

/* IMPORTANCIA */

.subtitulo{
    color: #06420e;
}