:root{
    --color-one: #ade2a6;
    --color-two: #73bd6e;
    --color-three: #11510c;
    --color-four: #9cd398;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
}

body{
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

.subtitulo{
    color: var(--color-three);
}

/* INICIO */
/* HEADER */
header{
    text-align: center;
    background-color: var(--color-one);
    padding: 15px 0;
    margin: 0%;
}

.logo{
    width: 2.5rem;
}

.div_navegacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav a.boton{
    display: inline-block;
    text-decoration: none;
    margin: 0 30px;
    color: #000;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: var(--color-four);
    transition: background-color 0.3 ease;
}


nav a:hover{
    background-color: var(--color-two)
}

.boton_f{
    text-align: right;
    margin-right: auto;
}

.encabezado-img{
    background-image: url(assets/escamas.avif);
    height: 150px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado__titulo{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.encabezado__subtitulo{
    font-size: 18px;
    text-align: center;
    color: white;
    top: -20px;
}

/* FIN HEADER */
.titulo{
    color: var(--color-three);
    font-size: 20px;
    margin: 0;
    padding: 10px 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.texto-columna {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 25px;
    overflow: hidden;
}

.titulo {
    background-color: #82cd8f;
    color: var(--color-three);
    font-size: 20px;
    margin: 0;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.texto-imagen-container {
    display: flex;
    flex-direction: column;
}

.texto {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid #dee2e6;
    width: 800px;
    height: 528px;
    justify-content: space-between;
}


.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.foto {
    width: 43%;
    height: auto;
    border-radius: 10px;
}

.foto2{
    width: 46%;
    height: auto;
    border-radius: 10px;

}

.titulo-izquierda {
    border-radius: 10px 0 0 0;
}

.titulo-derecha {
    border-radius: 0 10px 0 0;
}

/* FIN INICIO */
/* FOOTER */
footer{
    background-color: var(--color-one);
    padding: 2px ;
    text-align: center;
    position: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.frase{
    font-size: small;
    color: black;
}

.redes-sociales{
    margin-bottom: 10px;
}

.redes-sociales a {
    display: inline-block;
    width: 30px;
    height: 40px;
    margin: 0 5px;
    font-size: 20px;
    transition: all 0.3s ease;
}

.social-icon{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-image: url(assets/logofacebook.png);
    background-position: center;
    background-size: 45px;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:hover{
    filter: invert(1);
}

.frase_bajo{
    font-size: smaller;
}

/* FIN FOOTER */
/* IMPORTANCIA */
.container-importancia{
    margin: 1rem;
}

main{
    padding: 8px;
}

.proposito{
    text-align: center;
    font-size: xx-large;
    margin: 1rem;
}

.proposito-h2{
    padding-top: inherit;
    font-size: 25px;
    text-align: center;
    margin-top: 5rem;
}

.parrafo{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 2rem 10rem;
}

.container_proposito{
    margin: 35px;
    padding: initial;
}

.imagen-container{
    text-align: center;
    margin-top: 20px;
}

.imagen1{
    margin-top: -38px;
    max-width: 10%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(28, 25, 25, 0.1);
}

.imagen2{
    max-width: 12%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(28, 25, 25, 0.1);
}

.footer_importancia{
    text-align: center;
    padding: 10px;
    color: black;
    background-color: var(--color-one);
}

/* HISTORIA */

.parrafo_historia{
    margin: 15px;
    text-align: center;
    font-size: unset;
}

.div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen_1{
    max-width: 20%;
    height: auto;
    border-radius: 5px;
}

.imagen_3{
    max-width: 19%;
    height: auto;
    border-radius: 5px;
}

.imagen__2{
    max-width: 135px;
    height: auto;
    border-radius: 5px;
}

.imagen_4{
    max-width: 12rem;
    height: auto;
    border-radius: 5px;
}

.imagen__1, .imagene3{
    max-width: 199px;
    height: auto;
    border-radius: 5px;
}

.imagen__3{
    max-width: 250px;
    height: auto;
    border-radius: 5px;
}

.imagen__4{
    max-width: 120px;
    height: auto;
    border-radius: 5px;
}

.imagens1{
    max-width: 230px;
    height: auto;
    border-radius: 5px;
}

.imagens2{
    max-width: 155px;
    height: auto;
    border-radius: 2px;
}

.imagene2{
    max-width: 140px;
    height: auto;
    border-radius: 5px;
}

.imagene4{
    max-width: 272px;
    height: auto;
    border-radius: 5px;
}

/* UBICACION */

.ubicacion_titulo{
    margin: 10px;
    text-align: center;
    font-size: xx-large;
}

.contenedor_s{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: space-around;
    border-radius: 5px;
    width: 90%;
    max-width: 1200px;
    box-shadow: 8px 8px 5px #c5c5c5;
    padding: 8px 12px;
    background-image: linear-gradient(#9bff89, #bbffc6, #dbffd4);
    border-radius: 30px;
    margin-top: 3%;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* FORMULARIO */

.fondo{
    background-color: var(--color-four);
    color: var(--color-three);
    font-size: 20px;
    margin: 0;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}
.titulo_datos{
    text-align: center;
}

.contenedor{
    flex: 1;
    margin-top: 2rem;
    position: absolute;
    top: 50%;
    left: 85rem;
    transform: translate(-50%, -50%);
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.contenedor .formulario{
    margin-top: 30px;
}

.formulario div{
    margin-top: 30px;
}

div label{
    width: 125px;
    color: var(--color-three);
    -webkit-text-stroke: 1px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario :where(div input){
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

div input:focus{
    box-shadow: 0 2px var(--color-four);
}

.formulario div{
    display: flex;
    column-gap: 15px;
}

.botoncito{
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2 ease;
    background: var(--color-two);
}

.botoncito:hover{
    background: var(--color-four);
} 