:root{
    --color-one: #ade2a6;
    --color-two: #73bd6e;
    --color-three: #11510c;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    transition: 0.5s;
}

body{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.subtitulo{
    color: var(--color-three);
}

/* INICIO */
/* HEADER */
header{
    text-align: center;
    background-color: var(--color-one);
    padding: 15px 0;
    margin: 0%;
}

nav a{
    display: inline-block;
    text-decoration: none;
    margin: 0 30px;
    color: #000;
    padding: 0 15px;
    border-radius: 30px
}

nav a:hover{
    background-color: var(--color-two)
}

.encabezado-img{
    background-image: url(assets/escamas.avif);
    height: 200px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado__titulo{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.encabezado__subtitulo{
    font-size: 18px;
    text-align: center;
    color: white;
    top: -20px;
}

/* FIN HEADER */
.titulo{
    color: var(--color-three);
    font-size: 20px;
    margin: 0;
    padding: 10px 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.texto-columna {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
}

.titulo {
    background-color: #82cd8f;
    color: var(--color-three);
    font-size: 20px;
    margin: 0;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.texto-imagen-container {
    display: flex;
    flex-direction: column;
}

.texto {
    padding: 20px;
    border-bottom: 1px solid #dee2e6;
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.foto {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
}

.foto2{
    max-width: 50%;
}

.titulo-izquierda {
    border-radius: 10px 0 0 0;
}

.titulo-derecha {
    border-radius: 0 10px 0 0;
}

/* FIN INICIO */
/* FOOTER */
footer{
    background-color: var(--color-one);
    padding: 2px ;
    text-align: center;
    position: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.frase{
    font-size: small;
    color: black;
}

.redes-sociales{
    margin-bottom: 10px;
}

.redes-sociales a {
    display: inline-block;
    width: 30px;
    height: 40px;
    margin: 0 5px;
    font-size: 20px;
    transition: all 0.3s ease;
}

.social-icon{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-image: url(assets/logofacebook.png);
    background-position: center;
    background-size: 45px;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:hover{
    filter: invert(1);
}

.frase_bajo{
    font-size: smaller;
}

/* FIN FOOTER */
/* IMPORTANCIA */
main{
    padding: 8px;
}

.proposito{
    text-align: center;
    font-size: xx-large;
}

.proposito-h2{
    padding-top: inherit;
    font-size: 25px;
}

.parrafo{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.container_proposito{
    margin: 35px;
    padding: initial;
}

.imagen-container{
    text-align: center;
    margin-top: 20px;
}

.imagen1, .imagen2, .imagen3{
    max-width: 10%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(28, 25, 25, 0.1);
}

.imagen4{
    max-width: 12%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(28, 25, 25, 0.1);
}

.footer_importancia{
    text-align: center;
    padding: 10px;
    color: black;
    background-color: var(--color-one);
}

/* HISTORIA */
.parrafo_historia{
    margin: 15px;
    text-align: center;
    font-size: unset;
}

.div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen_1, .imagen_2{
    max-width: 20%;
    height: auto;
    border-radius: 5px;
}

.imagen_3{
    max-width: 19%;
    height: auto;
    border-radius: 5px;
}

.imagen_4, .imagen__2{
    max-width: 135px;
    height: auto;
    border-radius: 5px;
}

.imagen__1, .imagene3{
    max-width: 199px;
    height: auto;
    border-radius: 5px;
}

.imagen__3{
    max-width: 250px;
    height: auto;
    border-radius: 5px;
}

.imagen__4{
    max-width: 120px;
    height: auto;
    border-radius: 5px;
}

.imagens1{
    max-width: 230px;
    height: auto;
    border-radius: 5px;
}

.imagens2, .imagens3, .imagens4, .imagene1{
    max-width: 155px;
    height: auto;
    border-radius: 2px;
}

.imagene2{
    max-width: 140px;
    height: auto;
    border-radius: 5px;
}

.imagene4{
    max-width: 272px;
    height: auto;
    border-radius: 5px;
}
